html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input:focus, textarea:focus {
    border-bottom: 1px solid rgb(27, 27, 27) !important;
    box-shadow: 0 1px 0 0 rgb(27, 27, 27) !important;
  }
  label.active, textarea.active {
    color: rgb(27, 27, 27) !important;
  }
nav ul a, nav .brand-logo {
    color: rgb(27, 27, 27);
}
.team{
  padding: 0 80px;
}
.team .col{
  padding: 10px 40px;
  border-radius: 10px;
  transition: all 300ms ease-out;
  position: relative;
}
.team .col img{
  width: 100%;
  border-radius: 50%;
}
.team .col:hover {
  transition: all 300ms ease-in;
  transform: scale(1.02);
  border-radius: 10px;
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
}
#contact{
    padding: 50px 100px;
}
#maintxt{
    font-size: 45px;
}
#subText{
    font-size: 25px;
}
#index-banner .section {
  top: 0;
}
.slides li img {
  background-attachment: fixed;
}
.horizontalLine{
    width: 30%;
}
.h-right{
    margin-left: 70%;
}
.list-square li{
    list-style-type: square !important;
}
.smallText{
  font-size: 22px;
}
  @media only screen and (max-width : 992px) {
    #contact{
        padding: 50px 50px;
    }
    #team .col{
      padding: 0 30px;
    }
    .team{
      padding: 0 10px;
    }
  }
  @media only screen and (min-width : 600px){
    .footer-right{
        right: 0;
        position: absolute;
    }
  }

  @media only screen and (max-width : 600px) {
    .team{
      padding: 0 5px;
    }
    #maintxt{
        font-size: 40px;
    }
    #contact{
        padding: 50px 20px;
    }
    .team .col{
      padding: 10px;
    }
    #subText{
        font-size: 18px;
    }
    .smallText{
      font-size: 18px;
    }
    .logo{
        display: none;
    }
    .horizontalLine{
        width: 70%;
    }
    .h-right{
        margin-left: 30%;
    }
    .card .card-title{
      font-size: 18px;
    }
    .card p{
        font-size: 10px !important;
    }
  }
footer .col a{
    color: black;
}
footer .col .footer-link a{
    color: darkred;
}

.labeltxt{
    font-size: 20px;
}


.flipcard {
  perspective: 1000px;
  margin-bottom: 1.5rem;
}
.flipcard .flipcard-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flipcard .card-front,
.flipcard .card-back {
  width: 100%;
  height: 100%;
  position: relative;
  backface-visibility: hidden;
  transition: all .3s;
}
.flipcard .card-front {
  z-index: 2;
}
.flipcard .card-front::after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  bottom: -1px;
  right: -1px;
  border-width: 16px 16px 0 0;
  border-style: solid;
  border-color: #999 #fff;
  border-radius: .25rem 0 0 0;
}
.flipcard .card-back {
  position: absolute;
  top: 0;
  text-align: left;
  z-index: 1;
  transform: rotateY(180deg);
  overflow-y: auto;
}
/* the flippy magic */
.flipcard:hover .flipcard-wrap {
  transform: rotateY(-180deg);
}
