html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input:focus, textarea:focus {
    border-bottom: 1px solid rgb(27, 27, 27) !important;
    box-shadow: 0 1px 0 0 rgb(27, 27, 27) !important;
  }
  label.active, textarea.active {
    color: rgb(27, 27, 27) !important;
  }
nav ul a, nav .brand-logo {
    color: rgb(27, 27, 27);
}
#contact{
    padding: 50px 100px;
}
#maintxt{
    font-size: 45px;
}
#subText{
    font-size: 25px;
}
.parallax-container {
  color: rgba(255,255,255,.9);
}
#index-banner .section {
  top: 0;
}
.horizontalLine{
    width: 30%;
}
.h-right{
    margin-left: 70%;
}
.list-square li{
    list-style-type: square !important;
}
  @media only screen and (max-width : 992px) {
    #contact{
        padding: 50px 50px;
    }
  }
  @media only screen and (min-width : 600px){
    .footer-right{
        right: 0;
        position: absolute;
    }
  }

  @media only screen and (max-width : 600px) {
    #maintxt{
        font-size: 40px;
    }
    #contact{
        padding: 50px 20px;
    }
    #subText{
        font-size: 18px;
    }
    .logo{
        display: none;
    }
    .horizontalLine{
        width: 70%;
    }
    .h-right{
        margin-left: 30%;
    }
  }
footer .col a{
    color: black;
}
footer .col .footer-link a{
    color: darkred;
}

.labeltxt{
    font-size: 20px;
}
