<div id="contact">
    <i><h4 style="padding-bottom: 20px;">Drop us a message</h4></i>
    <div class="row">
        <div class="col m6 l7">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix" style="color:rgb(27, 27, 27);">person_pin</i>
                      <input id="name" type="text">
                      <label for="name">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix" style="color:rgb(27, 27, 27);">email</i>
                      <input id="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field input-outlined col s12">
                        <i class="material-icons prefix" style="color:rgb(27, 27, 27);">message</i>
                      <textarea id="textarea1" class="materialize-textarea"></textarea>
                      <label for="textarea1">Your Message</label>
                    </div>
                </div>
                <a style="margin-bottom: 30px;" class="waves-effect waves-light btn right pink accent-3">
                    <i class="material-icons right">send</i>Send
                </a>
              </form>
        </div>
        <div class="col m6 l5">
            <img src="./assets/Vecteezy_Covid19-Contactless-Character_BK1120_generated.jpg" style="width: 100%;">
        </div>
    </div>
</div>