<div style="padding-top:50px; padding-bottom: 100px;">
    <h4 style="margin-bottom: 30px; text-align: center;">About | NSS</h4>
    <div class="row">
        <div class="col hide-on-small-only m3 l2" style="position: fixed;">
            <ul class="section table-of-contents" style="font-size: 20px;">
                <li><a href="#nssHistory">NSS History</a></li>
                <li><a href="#nssObjective">NSS Objective</a></li>
                <li><a href="#nssMotto">NSS Motto</a></li>
                <li><a href="#nssOrg">NSS Organization</a></li>
            </ul>
        </div>
        <div class="col s12 m6 l8 offset-m3 offset-l2">
          <div id="nssHistory" class="section scrollspy">
              
            <div class="hide-on-med-and-up"><h5>NSS History</h5></div>
            <div class="pink accent-3 horizontalLine" style="height: 3px;"></div>
            <p style="font-size: 17px; text-align: justify;">
                National Service Scheme (NSS), was launched by the Ministry of
                Education and Culture, Govt. of India, in Mahatma Gandhi's Birth
                Centenary Year 1969, in collaboration with 37 Universities involving
                40,000 students with a primary focus on the development of personality
                of students through community services. Mahatma Gandhi always insisted
                on the idea that students as youths should be involved in the
                nation-building process and service of the nation. He suggested that
                the students should do "something positive so that the life of the
                villagers might be raised to a higher material and moral level."Gandhi
                insisted that the first duty of the students should be, not to treat
                their period of study as one of the opportunities for indulgence in
                intellectual luxury, but for preparing themselves for final dedication
                in the service of those who provided the sinews of the nation with the
                national goods & services so essential to society. Therefore, fostering
                social responsibility, inculcating dedication, commitment to solving
                social problems and developing a personality through community service
                are the main aims of NSS.Today NSS has grown as one of the most
                prominent social service institutions and youth movements in the world
                with more than 38 lakhs of dedicated volunteers all over the country.
            </p>
          </div>
    
          <div id="nssObjective" class="section scrollspy">
            <div class="hide-on-med-and-up"><h5>NSS Objectives</h5></div>
            <div class="pink accent-3 horizontalLine" style="height: 3px;"></div>
            <p style="font-size: 17px;">
                The broad objectives of NSS are to
            </p>
            <ul class="list-square" style="padding-left: 20px; font-size: 15px;">
                <li>Understand the community in which they work</li>
                <li>Understand themselves in relation to their community</li>
                <li>Identify the needs and problems of the community and involve them in the problem-solving process</li>
                <li>Develop among themselves a sense of social and civic responsibility</li>
                <li>Utilise their knowledge in finding a practical solution to individual and community problems</li>
                <li>Develop the competence required for group living and sharing of responsibilities</li>
                <li>Gain skills in mobilising community participation</li>
                <li>Acquire leadership qualities and a democratic attitude 24</li>
                <li>Develop the capacity to meet emergencies and natural disasters and</li>
                <li>Practice national integration and social harmony.</li>
            </ul>
            <p style="font-size: 17px; text-align: justify;">
                In short, NSS aims to inculcate social service in the students for the welfare of humanity,
                sharing their services to society without bias and enhancing their standard of living while
                leading a life of dignity.
            </p>
          </div>
          <div id="nssMotto" class="section scrollspy">
            <div class="hide-on-med-and-up"><h5>NSS Motto</h5></div>
            <div class="pink accent-3 horizontalLine" style="height: 3px;"></div>
            <p style="font-size: 17px; text-align: justify;">
                The Motto of NSS "Not Me but You" reflects the essence of democratic living and
                upholds the need for selfless service. NSS helps the students develop appreciation
                to another person's point of view and also show consideration to other living
                beings. The philosophy of the NSS is well doctrine in this motto, which underlines
                the belief that the welfare of an individual is ultimately dependent on the welfare
                of the society as a whole. Therefore, the NSS volunteers shall strive for the
                well-being of the society.
            </p>
          </div>
          <div id="nssOrg" class="section scrollspy">
            <div class="hide-on-med-and-up"><h5>NSS Organization</h5></div>
            <div class="pink accent-3 horizontalLine" style="height: 3px;"></div>
            <p style="font-size: 17px; text-align: justify;">
                At the national level, Ministry of Youth Affairs and Sports of India is the nodal
                authority, which works with the state-level NSS cells. The State-level NSS cells
                are the responsibility of the respective state governments. Within states, each
                university has a University level NSS cell under which institutions (schools, colleges,
                Institutes) based NSS units operate. Most government and government-aided institutions
                have volunteer NSS units. Institutions are encouraged to have NSS volunteers. A unit
                typically comprises 100-120 students. They are managed internally by a responsible
                party from the school or college, who reports to the regional NSS coordinator.
            </p>
          </div>
        </div>
    </div>
</div>