<div class="container" id="box">
    <div class="section">
        <h4 style="text-align:center;">Rules & Guidelines</h4>
        <div class="row" style="margin-top: 50px; margin-bottom: 20px;">
            <div class="col s12">
                <h5>Ideology/Reasoning</h5>
                <div class="pink accent-3 horizontalLine" style="height: 3px;">
                </div>
                <div style="text-align: justify; margin-top: 10px;">
                  At the heart of NSS are its volunteers.<br>
                  The following policies are made so that the NSS volunteers can contribute freely at their own  pace, all while keeping in mind that there is a fair distribution of hours for the time and efforts  they devote. The policy also aims to reduce organizational complexity.
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px; margin-bottom: 20px;">
            <div class="col s12">
                <h5 style="text-align:justify;">Working of NSS Coordinators</h5>
                <div class="pink accent-3 horizontalLine" style="height: 3px;">
                </div>
                <div style="text-align: justify;">
                    <ol>
                        <li>NSS Coordinators (Faculty Members) are the overall head(s) of NSS, IIT Jammu.</li>
                        <li>NSS Coordinators will be the Final Body to Verify and Update the Hrs. of all NSS  participants (after NSS Administration or NSS Group Heads) and will allot the Final  Grades to each NSS Participant.</li>
                        <li>NSS Coordinators can conduct NSS Meetings with NSS Administration/ NSS Guidelines  and Policies Body/ other NSS Participants for any work/ update related to NSS.</li>
                        <li>NSS Coordinators will be the Final Decision taking Body in case of any Dispute(s)  related to NSS Work or Hrs of Work Claimed, Amendments in Guidelines and Policies,  Funding of any Project(s) or any other important decision(s) related to NSS.</li>
                        <li>NSS Coordinators can give extra hours to any NSS participant for his/her dedication,  commitment, sincerity, regularity and quality of work towards NSS.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px; margin-bottom: 20px;">
            <div class="col s12">
                <h5>Working of NSS Administration</h5>
                <div class="pink accent-3 horizontalLine" style="height: 3px;">
                </div>
                <div style="text-align: justify;">
                    <ol>
                        <li>Spokesperson of NSS Administration will act as the medium of communication between  NSS Coordinators and the rest of the NSS Bodies. </li>
                        <li>NSS Administration will ensure Smooth Functioning of Overall NSS Activities and Work.</li><li>NSS Administration can conduct NSS Meetings with NSS Coordinators/ NSS Guidelines  and Policies Body/ other NSS Participants for any work/ update related to NSS/ NSS  Administration.</li>
                        <li>NSS participants who are part of the NSS Administration [refer to as NSS Admin(s)] will  also be given Hrs. for their Work done in this Category after Approval / Verification  from NSS Coordinators</li>
                        <li>NSS Admins will be given 0.5 hr/ Week for Verification and Record keeping (NSS  Common Spreadsheet) of the Work Contributed by other NSS Participants. Ex: For total Y Working Weeks of NSS, an NSS Admin will get Y x 30/60 = Y/2 hrs for the  Verification/ Hrs Updation/ Maintenance of Work</li>
                        <li><b>Strength</b>: The NSS Administration will consist of at least 6% and at most 10% of the  total number of NSS Participants. </li>
                        <li><b>Tenure</b>: One Semester. No participant can become a member of NSS Administration for  more than TWO semesters, EXCEPT if the strength is below 6%.</li>
                        <li>
                            <b>Selection procedure</b>:<br>
                            <ol>
                                <li>Members to Nominate their names voluntarily.</li>
                                <li>If the number of volunteers is more than 10% of the total number of NSS  Participants then election will be done.</li>
                                <li>If the number of volunteers is less than 6% of the total number of NSS  Participants, then the remaining members to be selected by the NSS  Coordinators. </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px; margin-bottom: 20px;">
            <div class="col s12">
                <h5>Working of NSS Guidelines and Policies Body</h5>
                <div class="pink accent-3 horizontalLine" style="height: 3px;">
                </div>
                <div style="text-align: justify;">
                    <ol>
                        <li>NSS Guidelines and Policies Body will prepare NSS Guidelines and Policies in  coordination with NSS Coordinators. All requests for modification in policies by any  NSS participant will be looked into by NSS Guidelines and Policies Body in consultation  with NSS Administration and NSS Coordinators.</li>
                        <li>NSS Guidelines and Policies Body can conduct NSS Meetings with NSS Coordinators/  NSS Administration/ other NSS Participants for any work/ update related to NSS/ NSS  Guidelines and Policies.</li>
                        <li>NSS participants who are part of the NSS Guidelines and Policy Body will also be given  Hrs. for their Work done in this Category after Approval / Verification from NSS Coordinators.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px; margin-bottom: 20px;">
            <div class="col s12">
                <h5>Working of NSS Group Heads</h5>
                <div class="pink accent-3 horizontalLine" style="height: 3px;">
                </div>
                <div style="text-align: justify;">
                    <ol>
                        <li>NSS Group Heads will supervise Activities done by their respective Groups.In discussion with the members, NSS Group Heads will decide upon the rules and  guidelines for their respective Group.</li>
                        <li>NSS Group Heads will have to also take Note ( along with Proof / Justification ) of the  Work done by them [i.e NSS Group Head(s) are instructed to maintain a Google Drive  Folder (for their Group) in which they can keep/maintain their NSS Group Spreadsheet,  any picture(s) or video(s) proof(s) or justifications for their Group work like recording/  attendance proof of their Group Meetings, Presentation ppt, Group Working/ Activity  Doc/ Plan, Minutes of Meetings, etc] for Managing the Work related to their Meetings  with Group Members, NSS Coordinators, etc. for which they will be given Hrs.
                                    NSS Group Heads will be Given 0.5 hr / Week [If there are n Group Heads for a single  NSS Group then, 0.5 hr will be equally distributed among those n Group Heads and thus,  each will get 0.5/n hr / Week] (for the weeks in which the Group has done some Work)  for the Weekly Verification and Record keeping (NSS Group Spreadsheet) of the Work  Contributed by their Group Members in their respective Groups.
                                    Ex: Out of Total X Working Weeks of NSS, a particular NSS Group (having n Group  Heads) did work for Y Weeks then, Y/n x 30/60 = Y/2n hrs will be given to each Group  Head for the Verification/ Hrs Updation/ Maintenance Work.</li>
                        <li>At the start of each semester, Group Heads have to present the following:
                            <ol>
                                <li> Background / need of their respective group’s work.</li>
                                <li>Goals for that semester.</li>
                                <li>Plan for the semester.</li>
                                <li>Benefits of their work and who will be the beneficiaries.</li>
                                <li>Sustainability of their work and future plans.</li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px; margin-bottom: 20px;">
            <div class="col s12">
                <h5>Working of NSS Participants and Group Members</h5>
                <div class="pink accent-3 horizontalLine" style="height: 3px;">
                </div>
                <div style="text-align: justify;">
                    <ol>
                        <li>NSS Participants can freely volunteer/ participate and contribute any amount of hrs of  work in any of NSS Groups.</li>
                        <li>Each NSS Participant needs to be part of at least 3 Different Groups except for the  Participants who join the Miscellaneous Group(s) in which Group Work can be  Diversified ( covering more than one Categories like Technology/ Health/ Education/  Community Work/ Environment / etc. ) but in Total, Each NSS Participant needs to  work in at least 3 Different Groups/ Categories.Participation in Following Activities will be considered to be one of valid Categories out  of at least 3 Different Groups/ Categories in which any Participant has to participate:
                            <ol>
                                <li>NSS Student Administration / NSS Student Coordinator / NSS Guidelines and  Policies Body.</li>
                                <li>Attending/ Organising Webinars: NSS participants who opted for either NSS I or  NSS II can cover max. Of 15 hrs of work and those who opted for both NSS I and  NSS II can cover max. Of 30 hrs of work by attending/ participating ONLY in  Webinars organised under the Banner of NSS, IIT Jammu. </li>
                                <li>Community Work <br>
                                    NSS Participants can attend the Meetings conducted by NSS Coordinators or NSS  Administration or NSS Guidelines and Policies Body , Group Head of their respective Group(s)
                                    [Meeting Host must record the Meeting/ Take Attendance for Proof/ Justification] for which all  the Meeting Members/ Attendees will be given Hrs. upon proper proof/ justification of  Attendance/ Meeting Recording. NSS Participants can cover max. Of Total 5 hrs (if they opted  for NSS I or NSS II) or 10 hrs (if they opted for both NSS I and NSS II) from Total of these NSS  Meetings.
                                    NSS participants who are currently in 4th year of their B.Tech will be given a buffer of max. 15  hrs. (if they have opted for either NSS I or NSS II) or 30 hrs (if they have opted for both NSS I  and NSS II) Which can be used by Social/ Community/ NSS related Activities ( to be decided  and approved by the NSS Coordinators ) done by them in their Previous Semesters of B.Tech.
                                    All NSS Participants will be given 15 min/ Week (for the weeks in which they have done some  work [the same should be updated in the table of corresponding week of individual doc] in any  of NSS groups) for Maintaining / Updating their own Individual Doc (containing the claimed  hrs. Along with Proof and Justification) for their Contribution towards different groups in  which they have participated.</li>
                                <li>All NSS Participants who will get S(pass) Grade in any of NSS (I or II or Both) courses,  will be awarded with a Digital Certificate (signed by NSS Coordinator(s)) mentioning  their contribution towards different groups in which they have participated/  contributed (along with no. of hrs) during the Course. </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px; margin-bottom: 20px;">
            <div class="col s12">
                <h5 style="text-align:justify;">Guidelines for Maintaining Records</h5>
                <div class="pink accent-3 horizontalLine" style="height: 3px;">
                </div>
                <div style="text-align: justify;">
                    <ol>
                        <li>All NSS participants have to maintain an Individual (Google) Doc containing details  about their contribution, no. of hours claimed per activity with proofs/ justification (  Proofs containing Photos/ Videos can be saved in a Folder in Google Drive and it’s link  can be mentioned in the Individual Doc for further Verification i.e NSS participants are  instructed to maintain a Google Drive Folder in which they can keep/maintain their Individual Doc, any picture(s) or video(s) proof(s) or justifications for their work, their  work/ contribution in different NSS Groups, etc. ). Every NSS Participant should  maintain / update this Individual Doc on a Weekly or Bi-Weekly Basis and they have to  submit it to the NSS Administration and Group Heads of the Groups they have  contributed to OR Directly to NSS administration if No Group is involved. </li>
                        <li>Group Heads will maintain a (Google) Spreadsheet (for their Group) containing a list of  all the Group Members that have contributed to their Group's activities along with the  no. hours given (Approved and Not Approved) and link to the Individual Doc page for  each Group member.</li>
                        <li>Group Heads have to verify each Group member's contribution before updating their  hours in the sheet. They have to verify and maintain/ update their Group Spreadsheet  on a Weekly or Bi-Weekly Basis and have to submit this Group Spreadsheet to NSS  administration for final compilation and cross verification.</li>
                        <li>NSS administration will maintain one Common (Google) Spreadsheet for all NSS  participants registered for NSS with no. of hours they have completed (Approved and  Not Approved) so far and a link to their Individual Doc page. NSS Administration has to  verify and maintain/ update this Common Spreadsheet on a Weekly or Bi-Weekly Basis.</li>
                        <li>If anyone uses unfair means to get/ give hours then he/she will have to complete twice  the number of hours that they tried to get/ give through unfair means.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>